absl-py
astunparse
cachetools
certifi
charset-normalizer
cmake
contourpy
cycler
Cython
filelock
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
Jinja2
joblib
keras
kiwisolver
libclang
lit
Markdown
MarkupSafe
matplotlib
ml-dtypes
mpmath
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvcc-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
opencv-python
opt-einsum
packaging
pandas
Pillow
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorrt
termcolor
threadpoolctl
torch
torchvision
tqdm
triton
typing_extensions
tzdata
ultralytics
urllib3
Werkzeug
wrapt
